*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:"Roboto", sans-serif;
}
:root{
    --bg-color:#fff;
    --text-color: #0c0c0c;
    --main-color: #d2360a;

    --big-font: 6.4rem;
    --p--font: 1rem;
}
.main-header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 35px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}
.logo img{
    width: auto;
    height: 70px;
    border: #fff solid 17px;
}
.top-buttons {
    display: flex;
}
.top-buttons a{
    display: inline-block;
    margin: 0 35px;
    color: var(--text-color);
    font-size: var(--p--font);
    transition: all .6s ease;
    padding: 9px 24px;
    border: 1px solid var(--bg-color);
    border-radius: 7px;
}
.top-buttons a:hover{
    color: var(--main-color)
}
.text{
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.main-text h1{
    font-size: var(--big-font);
    font-weight: 900;
    margin: 15px 0;
}
section{
    padding: 0 14%;
    padding-right: 60px;
}
.img-text{
    width: 100%;
    height: auto;
    padding-top: 140px;
    padding-right: 59px;
}
header{
    border-bottom: 5px solid var(--main-color);
    border-radius: 10%;
}
.main-text h5{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}
.main-text p{
    width: 100%;
    max-width: 620px;
    font-size: var(--p--font);
    font-weight: 400;
    line-height: 32px;
    color: var(--text-color);
    margin-bottom: 40px;
}
.scroll{
    position: absolute;
    top: 92%;
    right: 7%;
    transform: translateY(-50%);
}
.scroll a{
    font-size: 16px;
    color: var(--text-color);
}
.scroll i{
    font-size: 20px;
    color: var(--text-color);
    margin-right: 6px;
}

@media(max-width: 1770px){
    header{
        padding: 10px 4%;
    }
    .scroll{
        right: 4%;
    }
}

@media(max-width: 1670px){
    :root{
        --big-font: 3rem;
        --p-font: 13px;
    }
}

@media(max-width: 1370px){
    section{
        padding: 0 4%;
    }
}

@media(max-width: 1150px){
    :root{
        --big-font: 4.6rem;
    }
}